.CONTENT_SAVER_SELECTED {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 26, 255, 0.49);
  z-index: 998;
  cursor: pointer;
}

.CONTENT_SAVER_HIGHLIGHT {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(114, 0, 214, 0.402);
  z-index: 999;
  cursor: pointer;
}

.CONTENT_SAVER_INACTIVE_HIGHLIGHT {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(238, 180, 19, 0.35);
  z-index: 999;
  cursor: pointer;
}

.capture-cursor {
  cursor: url(chrome-extension://__MSG_@@extension_id__/icons/icon_32.png), auto;
}
